#formwrapper
{
	margin-left: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
	width:300px;
	height:auto;
	background-color:#FFF;
	box-shadow: 10px 10px 50px #6CF;
	border: 1px #6CF;
	background-color:#F1FBFB; 
	border-radius: 8px;
}
form fieldset
{
    alignment-adjust: auto;
	width:30px;
	height:auto;
	backgroung-color:#FFF;	
}
fieldset
{
	background-color:#F1FBFB;
	border:none;
    margin-left: 10px;
	padding-bottom:10px;
}
h1
{
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-align: center;
    margin-bottom: 5%;
	color:#000;
}
.btn
{
	width:50px;
	height:20px;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	color:#FFF;
	font-weight: bold;
	background-color:#6CF;
	margin-left:10px;
	float:left;
}
label
{
	width:250px;
	display:block;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	font-size:15px;
	color:#000;
	margin-top:5px;
	margin-right:0px;
	margin-left:0px;
	margin-bottom:5px;
}
input
{
	width:250px;
	border:thin solid #6CF;
	margin-bottom:10px;
}
textarea
{
	width:250px;
	border:thin solid #6CF;
	margin-bottom:10px;
}
